<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4" *ngFor="let filter of filters">
            <h3>{{filter.name}}</h3>
            <ul>
                <li *ngFor="let option of filter.options" [hidden] = "option.count == 0">
                    <input type="checkbox" [ngModel]="filter.selected == option" (click)="filter.onSelect(option)">
                    {{option.name}}
                    ({{option.count}})
                </li>
            </ul>
        </div>
    </div>
</div>
