<h1>Users:</h1>


<table class="table table-striped">
    <thead>
    <tr>
        <th>
            <a href="#" (click)="sortType = 'name'; sortReverse = !sortReverse">    Name </a>
            <span *ngIf="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span *ngIf="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>

        </th>
        <th>
            <a href="#" (click)="sortType = 'age'; sortReverse = !sortReverse">  Age </a>
            <span *ngIf="sortType == 'age' && !sortReverse" class="fa fa-caret-down"></span>
            <span *ngIf="sortType == 'age' && sortReverse" class="fa fa-caret-up"></span>

        </th>
        <th>
            <a href="#" (click)="sortType = 'gender'; sortReverse = !sortReverse">  Gender</a>
            <span *ngIf="sortType == 'gender' && !sortReverse" class="fa fa-caret-down"></span>
            <span *ngIf="sortType == 'gender' && sortReverse" class="fa fa-caret-up"></span>

        </th>
        <th>
            <a href="#" (click)="sortType = 'department'; sortReverse = !sortReverse">  Department </a>
            <span *ngIf="sortType == 'department' && !sortReverse" class="fa fa-caret-down"></span>
            <span *ngIf="sortType == 'department' && sortReverse" class="fa fa-caret-up"></span>
        </th>
        <th>
            <a href="#" (click)="sortType = 'address'; sortReverse = !sortReverse">  Address </a>
            <span *ngIf="sortType == 'address' && !sortReverse" class="fa fa-caret-down"></span>
            <span *ngIf="sortType == 'address' && sortReverse" class="fa fa-caret-up"></span>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users" [hidden]="!user.visible(filters)">
        <td> {{user.name}} </td>
        <td> {{user.age}} </td>
        <td> {{user.gender}}</td>
        <td> {{user.department}}</td>
        <td> {{user.address.city}}, {{user.address.street}}</td>
    </tr>
    </tbody>
</table>